---
import BaseHead from '../components/BaseHead.astro';
import Header from '../sections/Header.astro';
import Footer from '../sections/Footer.astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description = '' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <main class="main-content pt-[90px]">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  /* Remove the margin-top style completely */
</style>