---
import { urlForImage } from '../lib/urlForImage';
import { SITE_TITLE } from '../constants';

interface Props {
  heroImage?: {
    asset: {
      _ref: string;
    };
  };
  heroVideo?: string;
  heroTitle?: string;
  heroSubtitle?: string;
  heroLogos?: Array<{
    asset: {
      _ref: string;
    };
  }>;
}

// extracting the properties from Sanity database so we can use them in the Hero component
const { heroImage, heroVideo, heroTitle, heroSubtitle, heroLogos } = Astro.props;
---

<section class="hero bg-black flex flex-col h-[calc(100vh-90px)]">
  <div class="section-padding flex flex-col items-left py-[0px] gap-[90px]">
    <div class="titles-container flex flex-col gap-[16px] max-w-[540px] h-full">
      <h4 class="text-white">Kea Logic</h4>
      <h1 class="text-white">Creating fast and minimal content websites.</h1>
    </div>
    <div class="beam min-h-[20vh]">
      <h1>beams</h1>
    </div>
  </div>
</section>